extends layout

block content
  h1= title
  p Welcome to the client view
  div
    div#map
    div#controls
      input.btn.btn-default(type='submit', value='Send location', onclick="getLocation()")
      //- input(type='button', value='go Home', onclick="resetLocation()")
