doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, ​initial-scale=1, user-scalable=no')
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

    block js
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(type='text/javascript', src="//maps.googleapis.com/maps/api/js")
      script(type='text/javascript', src='/javascripts/bootstrap.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js')
      script(type='text/javascript', src='/javascripts/googlemaps.js')
      script(type='text/javascript', src='/javascripts/requestapi.js')

  body
  div.container-fluid
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href='#')= title
    block content