extends layout

block content
  h1= title
  p Welcome to the portal view
  div.row
    //- div#list.col-md-4
      //- block navigation
    div#map.col-md-8

  script(src='/socket.io/socket.io.js', type='text/javascript')
  script.
    window.onload = function () {
      var host = window.location.host
      var socket = io.connect('ws://' + host);

      socket.on('addPacket', function (data) {
        window.googleMap.updateRemoteMap(data);
      })
    }