body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#map,
#list {
  height: 600px;
}
#location {
  display: block;
  height: 60px;
  width: 200px;
}
